/* SOLO SON LOS ESTILOS QUE APLICAN A LA PANTALLA DE TODOS LOS PLATOS */
img {
  width: 400px;
}
.img-titulo {
  background-image: url(/images/other/all-dishes.jpg);
}

.platos {
  display: flex;
  justify-content: center;
}

.btn-secondary {
  color: #fff;
  background-color: #464759 !important;
  border-color: #464759 !important;
  margin-bottom: 10px;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #2b2b2f !important;
  border-color: #2b2b2f !important;
}
